html{
	height: 100%;
}
body{
	height: 100%;
	background-color: black;
	color: #fff;
	margin: 0;
}
#main-header{
	font-size: 65px;
	height:55px;
}
#sub-header{
	font-size: 40px;
}
#song-name{
	font-family: 'Bowlby One', cursive;
	font-size: 28px;
}
#center{
	border-width: 5px;
	border-style: dotted;
	overflow: auto;
}
#hangman-loc{
	border-width: 5px;
	border-left-style: dashed;
}
.hangman-text{
	font-family: 'Bowlby One', cursive;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}
#image{
	height: 350px;
	width: 325px;
	margin-top: 10px;
}
@media only screen and (max-width: 991px) {
	#hangman-loc{
	border-left-style: none;
	border-top-style: dashed;
	}
}